/*This all css for dashbord */

h1 {
    /* background-color: cadetblue; */
    color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.div2 {
    background-color: black;
}

body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: blanchedalmond;
    size: 20px;
}